<html>
<head>
    <title>미드 보자</title>
   <meta charset="UTF-8" http-equiv="X-UA-Compatible"  http-equiv="content-type"name="viewport" content="width=device-width, initial-scale=1"/>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <style>
        div{
            color:white;
        }
        table{
            color:white;
        }
        ul{
            color:white;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
        
    </style>
</head>
<body bgcolor="black" style="margin:0">
        <table width="1900" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr> 
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="12">                            
                        </table>
                    </td>
                    <td align="left">
                        <table border="0" cellspacing="0" cellpadding="0" width="182">
                            <tr>
                                <td><a href="/"><img src="images/main/home.gif" height="20px" width="50px" border="0"></a>
                                    <a href="mds"><img src="images/main/list.gif" height="20px" width="50px" border="0"></a> 
                                    <a href="joinInfo"><img src="images/main/mypage.gif" height="20px" width="50px" border="0"></a></td>
                                <td></td>     
                            </tr>
                        </table>
                    </td>
                    <td align="right" valign="bottom">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>                    
                                    <input type="text" id="userId" placeholder="User ID" >
                                    <input type="password" id="userPw" placeholder="Password">
                                    <a href="javascript:login()" id="loginButton"><img src="images/main/login.gif" height="20px" border="0"></a>
                                    <a href="javascript:logout()" id="logoutButton" style="display:none"><img src="images/main/logout.gif" height="20px" border="0"></a>
                                    <a href="joinForm"><img src="images/main/join.gif"  border="0"id="joinButton"></a>
                                </td>
                                <td><img src="images/main/favorite.jpg" onclick="bookmarksite('미드보자','naver.com')" height="20px" style="cursor:hand"></td>
                            </tr>
                        </table>
                    </td>
                    <td >
                        <table border="0" cellspacing="0" cellpadding="0" width="15">                            
                        </table>
                    </td>
                </tr>
            </table>


    <li>
        <center><img src="images/main/gameofthrones5.jpg"  height="400px" width="1800px"></center>
    </li>    