<% include header.ejs %>


   <div >
      <h1>안녕하세요</h1>
      <p><h2>미드 정보 공유 사이트 미드 보자 입니다 <br>
          많은 참여 부탁해요!</h2>
          201812711 이태영
      </p>      
  </div>   


   

<% include footer.ejs %>